@charset "UTF-8";
/* line 5, ../../../../../../home/ec2-user/.gem/ruby/2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../home/ec2-user/.gem/ruby/2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../home/ec2-user/.gem/ruby/2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../home/ec2-user/.gem/ruby/2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../home/ec2-user/.gem/ruby/2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../home/ec2-user/.gem/ruby/2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../home/ec2-user/.gem/ruby/2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../home/ec2-user/.gem/ruby/2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../home/ec2-user/.gem/ruby/2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
Theme Name:		SMART-MINIMUM
Theme URI:		http://rfs.jp/
Description:	デザインありきで制作する際の、最小限必要と思われる構成のテンプレートです。
Author:			rhythmfactory
Author URI:		http://rfs.jp/
Version:		1.0
License:
License URI:
*/
/*#########################################################

要素関連

#########################################################*/
/* line 32, style.scss */
p {
  margin: 20px auto;
}

/*#########################################################

WordPress必須クラス

#########################################################*/
/* line 42, style.scss */
.wp-caption {
  /**/
}

/* line 43, style.scss */
.wp-caption-text {
  /**/
}

/* line 44, style.scss */
.sticky {
  /**/
}

/* line 45, style.scss */
.gallery-caption {
  /**/
}

/* line 46, style.scss */
.bypostauthor {
  /**/
}

/* line 47, style.scss */
.alignright {
  /**/
}

/* line 48, style.scss */
.alignleft {
  /**/
}

/* line 49, style.scss */
.aligncenter {
  /**/
}

/* line 50, style.scss */
.screen-reader-text {
  /**/
}

/*#########################################################

レイアウト

#########################################################*/
/* サイトヘッダ */
/* line 63, style.scss */
header#site-header {
  padding: 20px;
  background-color: #efefef;
}

/* メインカラム */
/* line 69, style.scss */
main {
  padding: 20px;
  /* 記事エントリ */
  /* 記事エントリのページナビゲーション */
}
/* line 72, style.scss */
main article.entry {
  padding: 20px;
  border-bottom: 3px dotted #efefef;
}
/* line 77, style.scss */
main .navigation {
  padding: 20px;
}

/* サブカラム */
/* line 83, style.scss */
#sub {
  padding: 20px;
}
/* line 85, style.scss */
#sub .widget {
  padding: 20px;
}

/* サイトフッタ */
/* line 91, style.scss */
footer#site-footer {
  padding: 20px;
  background-color: #efefef;
}
